.first .para1{
    color: rgb(215, 184, 143);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second .para2{
    color: rgb(120, 157, 188);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.third .para3{
    color: rgb(201, 135, 168);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}